:root{
    --red-color: #E50815;
    --white-color: #fff;
    --black-color: #000;
    --card-color: #641D3C;



    --default-padding: 1em;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}



