/* @font-face {
    font-family: 'Netflix Sans';
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
} */

:root{
    --red-color: #E50815;
    --white-color: #FFFFFF;
    --white-degrade-color: #CABAC0;
    --black-color: #000;
    --card-color-red: #5F1C38;
    --card-color-blue: #1A1F40;



    --default-padding: 1em;
    --button-padding: 0.5em 1em;
    --aside-padding: 2em 1em;
    --text-padding: .5em 0;



    --title-one-fontSize: 2.2em;
    --title-two-fontSize: 1.4em;
    --title-card-fontSize: 2.2em;
    --default-fontSize: 1em;


    
    --default-raduis: 5px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-color);
    list-style: none;
    text-decoration: none;
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
    border: none;
}

/* .banner{
    background-image: url("./../netflix-accueil/assets/backgroung.jpeg");
} */
html{

    background-color: var(--black-color);
}

.banner {
    
    text-align: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
                  url("../../assets/backgroung.jpeg");
    padding-bottom: 8em; */

    .banner__topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--default-padding);
    }

    .banner-description{
        padding: var(--aside-padding);
    }

    .banner__title{
        padding: var(--text-padding);
        font-size: var(--title-one-fontSize);
        
    }
    
    .banner__text{
        padding: var(--text-padding);
        font-size: var(--default-fontSize);
    }
    
    .banner-description__form{
        padding: var(--default-padding);
    
        input{
            width: 100%;
            border-radius: 5px;
            border: var(--white-color) 1px solid;
            padding: var(--default-padding);
            background-color: var(--black-color);
        }
    
        button{
            display: inline-block;
            margin: var(--default-padding);
        }
    }

}


.button--color-red{
    padding: var(--button-padding);
    background-color: var(--red-color);
    border-radius: var(--default-raduis);
}

.content {
    padding: var(--default-padding);

    .content__title{
        font-size: var(--title-two-fontSize);
    }

    .content__article{
        padding: var(--aside-padding);
        display: grid;
        gap: 1em;

        p{
            color: var(--white-degrade-color);
        }
    }

    .card--bg-red{
        margin: var(--default-padding);
        border-radius: 15px;
        background-color: var(--card-color-red);
    }

    .card--bg-blue{
        margin: var(--default-padding);
        border-radius: 15px;
        background-color: var(--card-color-blue);
    }
}






