/* @font-face {
    font-family: 'Netflix Sans';
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
} */

:root{
    --red-color: #E50815;
    --white-color: #fff;
    --black-color: #000;
    --card-color: #641D3C;



    --default-padding: 1em;
    --button-padding: 0.5em 1em;
    --aside-padding: 3em 1em;
    --text-padding: .5em 0;



    --title-fontSize: 2em;
    --default-fontSize: 1.1em;


    
    --default-raduis: 5px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-color);
    background-color: var(--black-color);
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
    border: none;
}

/* .banner{
    background-image: url("./../netflix-accueil/assets/backgroung.jpeg");
} */


.banner {
    
    .banner__topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--default-padding);
    }

    .banner-description{
        padding: var(--aside-padding);
    }

    .banner__title{
        padding: var(--text-padding);
        font-size: var(--title-fontSize);
    }
    
    .banner__text{
        padding: var(--text-padding);
        font-size: var(--default-fontSize);
    }
    
    .banner-description__form{
        padding: var(--default-padding);
    
        input{
            width: 100%;
            border: var(--white-color) 1px solid;
            padding: var(--default-padding);
        }
    
        button{
            display: inline-block;
            margin: var(--default-padding);
        }
    }

}


.button--color-red{
    padding: var(--button-padding);
    background-color: var(--red-color);
    border-radius: var(--default-raduis);
}








